/********** Styles généraux de la page **********/

*{
    box-sizing: border-box; /* On exclut les marges dans le calcul de la dimension des box */
    margin: 0; /* Supprime les marges par défault de tout les éléments */
    padding: 0; /* Supprime le padding par défault de tout les éléments */
}

html{
    font-family: Arial, sans-serif; /* Police par défault pour toute la page */
}

body{
    background-image: url("../Picture/Autres/Jungle_flower.png");
    background-attachment: fixed; /* L'image reste fixe même lors du défilement */
    background-position: top; /* L'image est positionné en haut de la balise */
    background-repeat: no-repeat; /* L'image n'est pas répété */
    background-size: cover; /* L'image remplie entièrement son espace disponible */
    display: flex;
    flex-direction: column; /*  header, section et footer alignés verticalement */
    min-height: 100vh; /* 100% de la page visible (vh) */
}

/********** En-tête **********/

/* En-tête contenant la barre de navigation */
.header{
    display: flex;
    flex-direction: column;
}

/***** Barre de navigation menu *****/

/* Container qui contient la barre de navigation */
.container-barre-navigation{
    padding: 15px; /* Espace entre la barre de navigation est les contours de la page */
}

/* Barre de navigation menu */
nav{
    background-color: white;
    border-radius: 30px; /* Pour arrondir les bords */
    height: 65px;
    width: 600px;
    box-shadow: 0px 0px 5px rgb(70, 70, 70); /* 0px de décalage verticale et horizontal, 5px d'épaisseur */
}

/* Balise <ul> de la liste */
.liste-items{
    display: flex;
    justify-content: space-around;
    height: 100%;
    line-height: 65px; /* Pour que la hauteur de ligne soit identique à celle du conteneur nav */
    list-style: none; /* Supprimer les puces de la liste */
    font-size: 20px;
    padding: 0px 18px; /* Marges intérieurs en haut et en bas de 0px et à gauche et à droite de 18px */
}

/* Balise <li> de la liste */
.items{
    color: rgb(70, 70, 70);
    cursor: pointer; /* Pour montrer qu'on peut cliquer sur les éléments */
    flex-shrink: 0; /* Les éléments ne vont pas à la ligne lorsque l'écran diminu */
    transition: color 0.3s ease;
}

.items:hover{
    color: rgb(224, 149, 0); /* Changer la couleur des éléments "items" lorsqu'on les survoles */
}

/* Flèche pour le menu déroulant */
.arrow{
    font-size: 12px;
    position: relative; /* Pour repositionner la flèche par rapport à ça position initiale */
    top: -2px; /* Repositionnement de -2px sur le haut */
}

/* Balise <ul> de la liste déroulante */
.liste-items-dropdown{
    background-color: white;
    border-bottom-left-radius: 10px; /* Pour arrondir les bords */
    border-bottom-right-radius: 10px;
    position: relative; /* Permet de déplacer un élément par rapport à ça position initial (tel qu'on l'aperçoit dans la page web) */
    top: -3px; /* Pour supprimer l'espace entre la liste d'items droptown et la barre de navigation */
    opacity: 0; /* Le sous-menu est invisible par défault */
    transition: opacity 0.3s ease; /* Effet de transition pour l'apparition du sous-menu */
}

/* Balise <li> de la liste déroulante */
.items-dropdown{
    color: rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    list-style: none; /* Supprimer les puces de la liste */
    text-align: center;
    line-height: 40px; /* Pour modifier la taille de la sous-liste */
}

.items:hover > ul{ /* On modifie le comportement d'une liste "ul" fils d'un élément "items" (Destination) */
    opacity: 1; /* Le sous-menu est visible */
}

.items-dropdown:hover{
    background-color: rgb(241, 241, 241); /* Pour changer la couleur de background des éléments items-dropdown qui sont survolés */
    box-shadow: 0px 0px 5px rgb(70, 70, 70);
}

/* On souhaite arrondir les bords inférieurs du dernier "item-dropdown" */
.items-dropdown:nth-child(3){ /* Le troisième enfant de "items-dropdown" à des bords arrondi */
    border-bottom-left-radius: 10px; /* Pour que la couleur de background des éléments survolés ne dépasse pas */
    border-bottom-right-radius: 10px;
}

/********** Section **********/

.section{
    display: flex;
    flex: 1; /* La section prend tout l'espace disponible */
    justify-content: center;
    align-items: center;
    padding-right: 30px; /* Marges intérieurs droite pour toute la section */
    padding-left: 30px; /* Marges intérieurs gauche pour toute la section */
}

.container-contacts{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    max-width: 900px; /* Taille max du container */
    margin: 140px 0px; /* Marges haut et bas de 140px et gauche et droite de 0px */
    padding: 20px 40px; /* 20px en haut et en bas ; 40px à gauche et à droite */
    border-radius: 15px; /* Pour arrondir les bords */
    box-shadow: 0px 2px 5px white;
}

.titre-contacts{
    color: rgb(70, 70, 70);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.paragraphe-contacts{
    color: rgb(70, 70, 70);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.paragraphe{
    margin-bottom: 10px;
}

/* Ligne d'habillage pour séparer les titres et les paragraphes */
.separateurs-texte-contacts{
    background-color: rgb(224, 149, 0);
    width: 40%; /* Largeur de 50% de la page */
    height: 4px; /* Épaisseur de la ligne */
    margin-top: 10px;
    margin-bottom: 10px;
}

/********** Pied de page **********/

/* Pied de page contenant les Copyright */
.footer{
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-top: auto; /* Pied de page en bas de la page */
}

/* Copyright dans la balise footer */
.copyright{
    color: white;
    font-size: 15px;
    text-align: center;
}

/******************** Responsive Design pour Smartphones (768px) ********************/

@media screen and (max-width: 768px){

    /********** En-tête **********/

    /* Container qui contient la barre de navigation */
    .container-barre-navigation{
        padding: 5px;
    }

    /* Barre de navigation menu */
    nav{
        width: 100%;
    }

    /********** Section **********/

    .section{
        padding-right: 10px; /* Marges intérieurs droite pour toute la section */
        padding-left: 10px; /* Marges intérieurs gauche pour toute la section */
    }

    .titre-contacts{
        font-size: 25px;
        text-align: center;
    }
    
    .paragraphe-contacts{
        font-size: 14px;
        text-align: center;
    }

    .paragraphe{
        text-align: justify; /* Le paragraphe est justifié */
    }

    .separateurs-texte-contacts{
        width: 90%;
        margin-left: 5%; /* Centré au milieu de la page */
    }

    /********** Pied de page **********/

    .copyright{
        font-size: 14px;
    }
}

/******************** Responsive Design pour Smartphones (580px) ********************/

@media screen and (max-width: 580px){
    
    /********** En-tête **********/

    /* Container qui contient la barre de navigation */
    .container-barre-navigation{
        padding: 0px; /* Pas de padding */
    }

    /* Barre de navigation menu */
    nav{
        background-color: rgba(70, 70, 70, 0.5);
        border-radius: 0px; /* Pour ne pas arrondir les bords */
        height: 300px;
        width: 100%;
    }

    /* Balise <ul> de la liste */
    .liste-items{
        flex-direction: column; /* Pour que les items soient en colonne */
        align-items: center; /* Pour centrer les items */
        line-height: 30px;
        padding: 10px 0px; /* Marges intérieurs en haut et en bas de 10px et à gauche et à droite de 0px */
    }

    /* Balise <li> de la liste */
    .items{
        color: white;
    }

    /* Balise <ul> de la liste déroulante */
    .liste-items-dropdown{
        background-color: transparent; /* Pas de background-color */
        border-bottom-left-radius: 0px; /* Pour ne pas arrondir les bords */
        border-bottom-right-radius: 0px;
        opacity: 1; /* Le sous-menu est visible par défault */
    }

    /* Balise <li> de la liste déroulante */
    .items-dropdown{
        color: white;
        border-bottom: none; /* Aucune bordure */
    }

    .items-dropdown:hover{
        background-color: transparent; /* Pas de background-color */
        box-shadow: none; /* Pas de box-shadow */
        color: rgb(224, 149, 0); /* Changer la couleur des éléments "items-dropdown" lorsqu'on les survoles */
    }

    .items-dropdown:nth-child(3){
        border-bottom-left-radius: 0px; /* Pour ne pas arrondir les bords */
        border-bottom-right-radius: 0px;
    }
}